AIRFLOW_UID=1000

PROJECT_NAME=TradesLens-API
API_V1_STR=/api/v1

TimescaleDB Cloud Connection
ENVIO_PG_USER=postgres-user
ENVIO_PG_PASSWORD=password
ENVIO_PG_HOST=host-name
ENVIO_PG_PORT=port-number
ENVIO_PG_DATABASE=database-name
ENVIO_PG_SSL_MODE=disable
ENVIO_PG_PUBLIC_SCHEMA=schema-name

PROD_DB_NAME=DB-name


# Assemble the full DATABASE_URL for SQLAlchemy for the jobs to run
DATABASE_URL=postgresql://
