# To create or update a token visit https://envio.dev/app/api-tokens
# ENVIO_API_TOKEN="<YOUR-API-TOKEN>"

# Database Configuration
ENVIO_PG_PASSWORD=your_password
ENVIO_PG_DATABASE=your_database
ENVIO_PG_USER=your_user
ENVIO_PG_HOST=your_host
ENVIO_PG_PORT=5432
ENVIO_PG_SSL_MODE=require
ENVIO_PG_PUBLIC_SCHEMA=envio

# Hasura GraphQL Engine
HASURA_GRAPHQL_DATABASE_URL=postgresql://your_user:your_password@your_host:5432/your_database?sslmode=require
HASURA_GRAPHQL_ADMIN_SECRET=your_admin_secret

# Custom RPC URLs
ENVIO_MAINNET_RPC_URL=https://mainnet.infura.io/v3/your_key
ENVIO_ARBITRUM_RPC_URL=https://arbitrum-mainnet.infura.io/v3/your_key
ENVIO_OPTIMISM_RPC_URL=https://optimism-mainnet.infura.io/v3/your_key
ENVIO_BASE_RPC_URL=https://base.drpc.org
ENVIO_POLYGON_RPC_URL=https://polygon.drpc.org
ENVIO_AVALANCHE_RPC_URL=https://avalanche.drpc.org
ENVIO_BSC_RPC_URL=https://bsc.drpc.org
